@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Arimo";
}

body{
    background-color: #FDFDB4;
    color: #2D3748;
}

header{
    background-color: #713600;
}

nav{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

nav .btn{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #C05800;
    border: none;
    cursor: pointer;
    color: #FDFDB4;
}

nav .btn:hover{
    box-shadow: 0px 0px 10px 2px brown;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 100px;
}

#content .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#content .top img{
    width: 400px;
    height: auto;
}

#content .bottom{
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuBox{
    background-color: #38240D;
    flex: 1;
    border: 2px solid black;
    color: #FDFDB4;
}